body{
  background-color: black;
  color :white;
  font-family: Arial;
  margin-left: 100px;
 }

 .title {
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;

 }
 .modification-icon{
  height: 50px;
 
 }
 .move-button{
  background-color: black;
  border:1px dotted white;
  width:120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 50px;
  
 }
 .move-button:hover{
transition: width 2s ,height 4s;
 }
 .result{
  font-size: 25px;
  font-weight:bold;
  margin-top: 50px;
 }
